

.school-header {
    font-family: "Lobster Two", sans-serif; 
    color: orangered;
    font-size: 35px;
    font-weight: 1000;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999999;
}

.left-section {
    margin: 0;
    padding-left: 20px;
    margin-right: 20px;
    flex: 2;
}

nav,ul,li,a {
    display: inline-block;
     text-decoration: none;
    list-style-type: none;
}

nav a{
    margin-right: 20px;
    color: black;
}

nav a:hover {
    color: orangered;
}

.middle-section {
    flex: 3;
    justify-content: center;
    padding: 20px;
    align-items: end;
    margin-left: 100px;
    font-size: 16px;
    font-family: "Heebo", sans-serif;
}

.right-section {
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
    font-family: "Heebo", sans-serif;
}

.join {
    margin-left: 30px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: orangered;
    border-radius: 20px;
    border: none;
    width: 130px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "Heebo", sans-serif;
}

.join:hover,.classes-button:hover, .learn-button:hover, .read-button:hover, .contact-us-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

h3 {
    font-family: "Lobster Two", sans-serif;
    color: rgb(39, 37, 37);
    font-size: 30px;
}

.hero-section {
    background: url(images/babypic1.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px;
    margin-top: 80px;
    padding-left: 100px;
    padding-top: 20px;
}

.hero-header-text {
    font-family: Lobster Two, sans-serif;
    font-size: 75px;
    font-weight: 700;
    color: white;
}

.hero-header-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-link-span, .home-link{
    color: orangered;
    font-family: Heebo, sans-serif;
    font-size: 18px;
    margin-right: 5px;
}

.aboutus-link {
    font-family: Heebo, sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 5px;
}

.slash-sign {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Heebo, sans-serif;
}

.main-body {
    padding-left: 100px;
    padding-right: 100px;
}

.about-section-grid {
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-bottom: 250px;
    margin-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
}


.about-header {
    width: 560px;
}

.about-header-text {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text {
    color: rgb(56, 54, 54);
    font-family: Heebo,sans-serif;
    font-size: 18px;
}

.azeez {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    display: inline-block;
}

.read-button {
    padding: 16px;
    width: 160px;
    height: 60px;
    border-radius: 70px;
    font-weight: bold;
    font-family: Heebo,sans-serif;
    font-size: 16px;
    color: white;
    background-color: orangered;
    border: none;
}

.about-flex-box {
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.ceo-name {
    font-family: Heebo,sans-serif;
    font-size: 16px;
    color: orangered;
    font-weight: 700;
    margin-top: 0;
    margin-left: 15px;
     margin-bottom: 5px;
}

.azeez-title {
    font-family: Heebo,sans-serif;
    font-size: 14px;
    color:  rgb(56, 54, 54);
    margin-top: 0;
    margin-left: 15px;
}

.ceo-image {
    display: flex;
}

.ceo-title {
    display: flex;
    flex-direction: column;
}

.book-kids {
    height: 400px;
    border-radius: 50%;
    width: 400px;
    object-position: center;
    margin-left: 25px;
    margin-top: 22px;
    border: 20px solid rgb(255, 236, 238);
}


.book-kids-container {
    position: relative;
}

.slide-baby {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    object-position: center;
    margin-top: 20px;
    margin-left: 21px;
    border: 20px solid rgb(255, 236, 238);
    position: absolute;
    bottom: -110px;
    left: -70px;
}


.reading-kids {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    object-position: center;
    margin-top: 20px;
    margin-left: 21px;
    border: 20px solid rgb(255, 236, 238);
    position: absolute;
    bottom: -110px;
    right: -70px;
}


.book-kids:hover, .slide-baby:hover, .reading-kids:hover {
    border-color: orangered;
    transition: ease-in 0.25s;
}

.alpha {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.teacher-container {
    z-index: 2000;
}

.teacher-section {
    margin-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
}

.teacher-section-container {
    display: flex;
    flex-direction: row;
}

.become-teacher-container {
    width: 600px;
    height: 400px;
    background-color:  rgb(255, 236, 238);
    padding-left: 90px;
    margin-left: -25px;
    border-radius: 10px;
    padding-right: 40px;
}

.become-teacher-header {
    font-family: Lobster Two,sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0;
}

.become-teacher-text {
    font-family: Heebo,sans-serif;
    font-size: 18px;
    color: rgb(102, 99, 99);
    margin-bottom: 30px;
    line-height: 36px;
    width: 600px;
}

.reach-us-btn {
    background-color: orangered;
    padding: 16px 42px;
    color: white;
    width: 550px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 15px;
}

.footer-section {
    background-color: rgb(27, 45, 66);
    padding: 48px 100px;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(82, 82, 82);
}

.location-flexbox, .telephone-flexbox, .mail-flexbox {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 290px;
}

.icons-flexbox {
    margin-top: 20px;
}

.footer-heading {
    color: white;
    font-family: Lobster Two, sans-serif;
    font-size: 30px;
}

.col1-text, .col1-phone-text, .col1-mail-text, .quicklink-text {
    font-family: Heebo, sans-serif;
    font-size: 18px;
    color: rgb(173, 171, 171);
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 5px;
}

.twitter, .facebook, .youtube, .instagram {
    border: 2px solid rgb(173, 171, 171);
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

.twitter:hover, .facebook:hover, .youtube:hover, .instagram:hover {
    background-color: orangered;
    cursor: pointer;
    transition: ease-in 0.15s;
}

.quicklink-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 150px;
   transition: transform 0.3s ease, color 0.3s ease;
    margin-bottom: 0;
}

.quicklink-container:hover, .quicklink-text:hover {
    transform: scaleX(1.1);
    cursor: pointer;
    color: orangered;
}

.footer-col3-container {
    margin-left: 100px;
}

.photo-gallery-flexbox {
    display: flex;
    flex-direction: row;
    width: 330px;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-grid {
    width: 72px;
    height: 72px;
    border: 5px solid rgb(240, 221, 224);
    border-radius: 10px;
}

.footer-rule {
    color: rgb(65, 64, 64);
}

.copyright-text {
    font-family: Heebo,sans-serif;
    font-size: 16px;
    color: rgb(143, 142, 142);
}

.copy {
    text-decoration: underline;
    color: white;
    font-family: Heebo,sans-serif;
    font-size: 16px;
    margin-right: 5px;
}

.copyright-text, .copy {
    padding-bottom: 0;
    margin-bottom: 0;
}

