.school-header, .homepage-link {
    font-family: "Lobster Two", sans-serif; 
    color: orangered;
    font-size: 35px;
    font-weight: 1000;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999999;
}

.left-section {
    margin: 0;
    padding-left: 20px;
    margin-right: 20px;
    flex: 2;
}

nav,ul,li,a {
    display: inline-block;
     text-decoration: none;
    list-style-type: none;
}

nav a{
    margin-right: 20px;
    color: black;
}

nav a:hover {
    color: orangered;
}

.menu {
    list-style:none;
    background:white;
    display:flex;
    padding:15px;
}

.menu li {
    position:relative;
}
 
.menu a {
    color: black;
    text-decoration:none;
    display:block;
}

.dropdown-content{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    min-width:200px;
    list-style:none;
    background-color: white;
    padding: 10px;
}

.dropdown-content li a{
    padding: 10px;
    padding-left: 10px;
    color: black;
}

.dropdown-content li a:hover{
    background-color: rgb(240, 240, 240);
}

.dropdown:hover .dropdown-content{
  display:block;
}

.menu a:hover{
  background: white;
}

.middle-section {
    flex: 3;
    justify-content: center;
    padding: 20px;
    align-items: end;
    margin-left: 100px;
    font-size: 16px;
    font-family: "Heebo", sans-serif;
}

.right-section {
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
    font-family: "Heebo", sans-serif;
}

.join {
    margin-left: 30px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: orangered;
    border-radius: 20px;
    border: none;
    width: 130px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "Heebo", sans-serif;
}

.join:hover,.classes-button:hover, .learn-button:hover, .read-button:hover, .contact-us-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.join-btn-link, .join-btn-link:hover {
    color: white;
}

h3 {
    font-family: "Lobster Two", sans-serif;
    color: rgb(39, 37, 37);
    font-size: 30px;
}

.main-body {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}

.hero-section {
    background: url(images/babypic1.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px;
    margin-top: 80px;
    padding-left: 100px;
    padding-top: 20px;
}

.hero-header-text {
    font-family: Lobster Two, sans-serif;
    font-size: 75px;
    font-weight: 700;
    color: white;
}

.hero-header-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-link-span, .home-link{
    color: orangered;
    font-family: Heebo, sans-serif;
    font-size: 18px;
    margin-right: 5px;
}

.facilities-link {
    font-family: Heebo, sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 5px;
}

.slash-sign {
    color: rgb(224, 219, 219);
    font-size: 18px;
    font-weight: bold;
    font-family: Heebo, sans-serif;
}

.sub-hero-container {
    text-align: center;
}

h3 {
    font-family: "Lobster Two", sans-serif;
    color: rgb(39, 37, 37);
    font-size: 45px;
}



.facility-container-header {
    font-family: "Lobster Two", sans-serif;
    color: orangered;
    font-size: 28px;
    margin: 34px 0 0 0;
    text-align: center;
}


.sub-hero-header-text {
    color: rgb(56, 54, 54);
    font-size: 18px;
    font-family: heebo, san-serif;
}


.facilities-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.facilities-grid-child {
    box-sizing: border-box;
}

.facility-text {
    color: rgb(56, 54, 54);
    font-size: 16px;
    /* margin-top: 30px; */
    /* margin-left: 0; */
    /* line-height: 30px; */
    text-align: center;
    font-family: Heebo, sans-serif;
}

.facilities-icon {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: rgb(255, 244, 247);
    opacity: 0.6;
    position: relative;
    margin-left: 70px;
}

.facilities-container {
    height: 240px;
    width: 240px;
    border-radius: 120px;
    margin-top: -33px;
    background-color: rgb(255, 244, 247);
    /* opacity: 0.6; */
    /* position: absolute; */
    align-items: center;
}

.main-body {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
}

.sub-hero-section {
    margin-bottom: 100px;
}

.footer-section {
    background-color: rgb(27, 45, 66);
    padding: 48px 100px;
    margin-top: 150px;

}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(82, 82, 82);
}

.location-flexbox, .telephone-flexbox, .mail-flexbox {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 290px;
}

.icons-flexbox {
    margin-top: 20px;
}

.footer-heading {
    color: white;
    font-family: Lobster Two, sans-serif;
    font-size: 30px;
}

.col1-text, .col1-phone-text, .col1-mail-text, .quicklink-text {
    font-family: Heebo, sans-serif;
    font-size: 18px;
    color: rgb(173, 171, 171);
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 5px;
}

.twitter, .facebook, .youtube, .instagram {
    border: 2px solid rgb(173, 171, 171);
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

.twitter:hover, .facebook:hover, .youtube:hover, .instagram:hover {
    background-color: orangered;
    cursor: pointer;
    transition: ease-in 0.15s;
}

.quicklink-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 150px;
   transition: transform 0.3s ease, color 0.3s ease;
   margin-bottom: 0;
}

.quicklink {
    color: rgb(143, 142, 142);
}

.quicklink-container:hover, .quicklink-text:hover, .quicklink:hover {
    transform: scaleX(1.1);
    cursor: pointer;
    color: orangered;
}

.footer-col3-container {
    margin-left: 100px;
}

.photo-gallery-flexbox {
    display: flex;
    flex-direction: row;
    width: 330px;
    flex-wrap: wrap;
    gap: 10px;
}

.photo-grid {
    width: 72px;
    height: 72px;
    border: 5px solid rgb(240, 221, 224);
    border-radius: 10px;
}

.footer-rule {
    color: rgb(65, 64, 64);
}

.copyright-text {
    font-family: Heebo,sans-serif;
    font-size: 16px;
    color: rgb(143, 142, 142);
}

.copy {
    text-decoration: underline;
    color: white;
    font-family: Heebo,sans-serif;
    font-size: 16px;
    margin-right: 5px;
}

.copyright-text, .copy {
    padding-bottom: 0;
    margin-bottom: 0;
}